.popular{
display: flex;
align-items: center;
flex-direction: column;
gap: 10px;
height: 90vh;
}
.popular h1{
 color: #171717;
 font-size: 50px;
 font-weight: 600;
}
.popular hr{
 width: 200px;
 height: 6px;
 border-radius: 10px;
 background: #232525;   
}
.popular-item{
 margin-top: 50px;
 display: flex;
 gap:30px ;

}

@media(max-width:1280px)  {

    .popular{
height: 70vh;
transition: 0.5s;

}
.popular h1{
 font-size: 40px;
 transition: 0.5s;
}
.popular hr{
 width: 150px;
 height: 4px;  
 transition: 0.5s;

}
.popular-item{
 margin-top: 30px;
 gap:20px ;

}
}

@media(max-width:1024px)  {

    .popular{
height: 60vh;
transition: 0.5s;

}
.popular h1{
 font-size: 30px;
 transition: 0.5s;
}
.popular hr{
 width: 120px;
 height: 3px;  
 transition: 0.5s;

}
.popular-item{
 margin-top: 20px;
 gap:15px ;
 transition: 0.5s;


}
}


@media(max-width:800px)  {

    .popular{
height: 50vh;
transition: 0.5s;

}
.popular h1{
 font-size: 25px;
 transition: 0.5s;
}
.popular hr{
 width: 100px;
 height: 3px;  
 transition: 0.5s;

}
.popular-item{
 margin-top: 15px;
 gap:10px ;
 transition: 0.5s;


}
}

@media(max-width:500px)  {

    .popular{
height: 90vh;
transition: 0.5s;

}

.popular-item{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;

}
}